# Dependencies
node_modules/

# Expo
.expo/
dist/
web-build/

# Native build folders
ios/
android/

# Environment
.env.local
.env.*.local

# IDE
.idea/
.vscode/
*.swp
*.swo

# macOS
.DS_Store
*.pem

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# TypeScript
*.tsbuildinfo

# Testing
coverage/

# EAS
.easignore
